<% include elements/header %> <% include elements/menu %>
<div class="ui red segment list-users">
  <p>Lista de chamados</p>

  <table class="ui selectable inverted table">
    <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>Status</th>
        <th>De</th>
        <th>Para</th>
        <th>Aberto para</th>
        <th>Horario</th>
      </tr>
    </thead>
    <tbody>
      <% chamados.map(chamado => { %>
      <tr>
        <td>
          <button class="mini ui primary button" onclick="showModal(<%= chamado.id %>)">Detalhes</button>
        </td>
        <td><%= chamado.id %></td>
        <td>
          <%- chamado.status === 0 ? '<i class="large green checkmark icon">' : '<i class="large red x icon"></i>'%></i>
        </td>
        <td><%= chamado.de %></td>
        <td><%= chamado.para %></td>
        <td><%= chamado.nome_aberto_por %></td>
        <td>
          <%= `${chamado.inicio.getDate()}/${(chamado.inicio.getMonth()+1).toString().padStart(2,
          '0')}/${chamado.inicio.getFullYear()} ${chamado.inicio.getHours().toString().padStart(2,
          '0')}:${chamado.inicio.getMinutes().toString().padStart(2,
          '0')}:${chamado.inicio.getSeconds().toString().padStart(2, '0')}` %>
        </td>
      </tr>
      <% }) %>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="7">
          <div class="ui right floated pagination menu inverted">
            <% if(pagination.currentPage > 0){ %>
            <a class="icon item" href="/chamados?page=<%= pagination.currentPage - 1 %>&pageSize=<%= pagination.pageSize %>">
              <i class="left chevron icon"></i>
            </a>
            <% } %>

            <% for(let i = 0; i < pagination.pages; i++){ %>
              <% if(i >= parseInt(pagination.currentPage) - parseInt(4)){ %>
                <% if(i <= parseInt(pagination.currentPage) + parseInt(4)){ %>
                <a class="<%= (i == pagination.currentPage) ? "active" : "" %> item" href="/chamados?page=<%= i %>&pageSize=<%= pagination.pageSize %>"><%= (i+1) %></a>
                <% } %>
              <% } %>
            <% } %>

            <% if(pagination.currentPage < pagination.pages - 1){ %>
            <a class="icon item" href="/chamados?page=<%= parseInt(pagination.currentPage) + parseInt(1) %>&pageSize=<%= pagination.pageSize %>">
              <i class="right chevron icon"></i>
            </a>
            <% } %>
          </div>
        </th>
      </tr>
      <tr>
        <th colspan="7">
            <div class="ui right floated pagination menu inverted aligned">
                <a class="item <%= (pagination.pageSize == 10) ? "active" : "" %>" href="/chamados?pageSize=10">10</a>
                <a class="item <%= (pagination.pageSize == 20) ? "active" : "" %>" href="/chamados?pageSize=20">20</a>
                <a class="item <%= (pagination.pageSize == 50) ? "active" : "" %>" href="/chamados?pageSize=50">50</a>
                <a class="item <%= (pagination.pageSize == 100) ? "active" : "" %>" href="/chamados?pageSize=100">100</a>
                <a class="item <%= (pagination.pageSize == 200) ? "active" : "" %>" href="/chamados?pageSize=200">200</a>
            </div>
        </th>
      </tr>
    </tfoot>
  </table>
</div>

<div class="ui small modal">
  <div class="header">
    Detalhes do chamado
  </div>
  <div class="content">
    <div class="ui form">
      <div class="two fields">
        <div class="field">
          <label>Originador</label>
          <div class="ui black message" id="from_numero">Numero</div>
        </div>

        <div class="field">
          <label>Descrição</label>
          <div class="ui message" id="from_numero_descricao">Descrição</div>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>Destino</label>
          <div class="ui black message" id="to_numero">Numero</div>
        </div>

        <div class="field">
          <label>Descrição</label>
          <div class="ui message" id="to_numero_descricao">Descrição</div>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>Inicio</label>
          <div class="ui message" id="inicio">16/01/2019 12:07:00</div>
        </div>

        <div class="field">
          <label>Termino</label>
          <div class="ui message" id="termino">16/01/2019 12:07:00</div>
        </div>
      </div>

      <div class="field">
        <label>Comentarios da chamada</label>
        <textarea rows="5" id="comentario"></textarea>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui negative button">
      Fechar
    </div>
    <div class="ui positive right labeled icon button">
      Alterar
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>

<script>
  function showModal(id) {
    axios.get(`/chamados/${id}`).then(response => {
      $("#from_numero").text(response.data.chamado.de);
      $("#from_numero_descricao").text(
        response.data.chamado.de_descricao ? response.data.chamado.de_descricao : "Não encontrado"
      );
      $("#to_numero").text(response.data.chamado.para);
      $("#to_numero_descricao").text(
        response.data.chamado.para_descricao ? response.data.chamado.para_descricao : "Não encontrado"
      );
      $("#inicio").text(response.data.chamado.inicio.toLocaleString());
      $("#termino").text(response.data.chamado.termino ? response.data.chamado.termino : "Chamada em atividade");
      $("#comentario").text(response.data.chamado.comentario);
    });

    $(".ui.small.modal")
      .modal({
        closable: true,
        onDeny: function() {
          $(".ui.small.modal").modal("hide");
          return false;
        },
        onApprove: function() {
          axios
            .put(`/chamados/${id}`, {
              comentario: $("#comentario").val()
            })
            .then(response => {
              if (response.status === 200) {
                location.reload();
              }
              if (response.status === 404) {
                window.alert("Ocorreu um erro !");
              }
            });
        }
      })
      .modal("show");
  }
</script>
<% include elements/footer %>
