<% include elements/header %>
<% include elements/menu %>
<div class="ui red segment list-users">
  <p>Adição de usuário</p>
  <a href="/usuarios" class="ui red button">Voltar</a>
  <%
    let labelErrors = []
    if(errors){ %>
      <div class="ui red message">
        <div class="header">
          Erros Encontrados
        </div>
        <ul class="list">
          <% errors.map(erro => { %>
            <li><%= erro.msg %></li>
          <% }) %>
        </ul>
      </div>
      
  <% 
  labelErrors = errors.map(item => item.item)
  }
  %>
  <div class="ui inverted segment">
      <form class="ui inverted form" method="post">
        <div class="two fields">
          <div class="field <%= (labelErrors.includes('nome') ? "error" : "") %>">
            <label>Nome</label>
            <input placeholder="Nome" type="text" name="nome" value="<%= usuario.nome %>">
          </div>
          <div class="field <%= (labelErrors.includes('user_basix') ? "error" : "") %>">
            <label>Usuário Basix</label>
            <input placeholder="Usuário Basix" type="text" name="user_basix" value="<%= usuario.user_basix %>">
          </div>
        </div>

        <div class="two fields">
          <div class="field <%= (labelErrors.includes('senha_conf') ? "error" : "") %>">
            <label>Senha</label>
            <input placeholder="Senha" type="password" name="senha" value="<%= usuario.senha %>">
          </div>
          <div class="field <%= (labelErrors.includes('senha_conf') ? "error" : "") %>">
            <label>Conf senha</label>
            <input placeholder="Confirmação de senha" type="password" name="senha_conf" value="<%= usuario.senha_conf %>">
          </div>
        </div>

        <div class="two fields">
          <div class="field <%= (labelErrors.includes('email') ? "error" : "") %>">
            <label>E-mail</label>
            <input placeholder="E-mail" type="text" name="email" value="<%= usuario.email %>">
          </div>
          <div class="field <%= (labelErrors.includes('dominio') ? "error" : "") %>">
              <label>Dominio</label>
              <select name="dominio">
                <option value="">Selecione um dominio</option>
                <% dominios.map(item => { %>
                  <option value="<%= item.id %>" <%- (usuario.dominio == item.id ? "selected" : "") %> ><%= item.dominio %></option>
                <% }) %>
              </select>
          </div>
        </div>

        <div class="two fields">
          <div class="field">
              <label>Descrição:</label>
              <textarea name="descricao" id="" cols="30" rows="10"></textarea>
          </div>
          <div class="field <%= (labelErrors.includes('gravacao') ? "error" : "") %> <%= (labelErrors.includes('tipo') ? "error" : "") %> <%= (labelErrors.includes('loginlogout') ? "error" : "") %>">
            <label>Login e Logout pelo contact</label>
            <select name="loginlogout" class="select-padding">
                <option value=""></option>
                <option value="1" <%- (usuario.loginlogout === '1' ? "selected" : "") %>>Desabilitar</option>
                <option value="2" <%- (usuario.loginlogout === '2' ? "selected" : "") %>>Habilitar</option>
            </select>

            <label>Log com gravação</label>
            <select name="gravacao" class="select-padding">
                <option value=""></option>
                <option value="1" <%- (usuario.gravacao === '1' ? "selected" : "") %>>Desabilitar</option>
                <option value="2" <%- (usuario.gravacao === '2' ? "selected" : "") %>>Habilitar</option>
            </select>

            <label>Permissão</label>
            <select name="tipo" class="select-padding">
                <option value=""></option>
                <option value="1" <%- (usuario.tipo === '1' ? "selected" : "") %>>Usuário</option>
                <option value="2" <%- (usuario.tipo === '2' ? "selected" : "") %>>Administrador</option>
            </select>
          </div>
        </div>

        <button class="ui inverted green button" type="submit">Adicionar</button>
      </form>
    </div>
</div>
<% include elements/footer %>