<% include elements/header %>
<% include elements/menu %>
<div class="ui red segment list-users">
  <p>Lista de usuários</p>
  <a href="/usuarios/adicionar" class="ui green button">Adicionar</a>
  <!-- <%= JSON.stringify(usuarios) %> -->
  <table class="ui selectable inverted table">
      <thead>
        <tr>
          <th>Ativo</th>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Usuário Basix</th>
          <th>Dominio</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% usuarios.map(item => { %>
        <tr>
          <td class="collapsing">
            <div class="ui toggle checkbox">
              <input type="checkbox" data-id="<%= item.id %>" <%= (item.ativo === 1 ? 'checked' : '') %>> <label></label>
            </div>
          </td>
          <td data-label="Nome"><%= item.nome %></td>
          <td data-label="E-mail"><%= item.email %></td>
          <td data-label="Nome"><%= item.user_basix %></td>
          <td data-label="Dominio"><%= item.dominio %></td>
          <td>
            <a href="/usuarios/editar/<%= item.id %>" class="ui inverted yellow button">Editar</a>
            <button class="ui inverted red button" onclick="execModal([<%= item.id %>, <%= `'${item.nome}'` %>])">Remover</button>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
</div>

<div class="ui tiny modal">
  <div class="header">
    Deletar conta
  </div>
  <div class="content">
    <div class="modal-content-text">Apagar a conta do usuário Eduardo</div>
    <div class="ui hidden divider"></div>
  </div>
  <div class="actions">
    <div class="ui negative button">
      No
    </div>
    <div class="ui positive right labeled icon button">
      Yes
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>

<script>
function execModal(dados){
  $('.ui.tiny.modal div.header').html('Deletar usuário')
  $('.ui.tiny.modal div.content div.modal-content-text').html(`<div class="ui red message">conta: ${dados[1]}</div>`)

  $('.ui.tiny.modal')
  .modal({
    closable  : true,
    onDeny    : function(){
      $('.ui.tiny.modal').modal('hide')
      return false;
    },
    onApprove : function() {
      axios.delete('/usuarios/'+dados[0], {
        withCredentials: true
      })
      .then(response => {
        if(response.status === 202){
          location.reload()
        }
        if(response.status === 204){
          window.alert('Ocorreu um erro !')
        }
      })
    }
  })
  .modal('show')
}

$('div.checkbox input').click(function(){
  if($(this).is(':checked')){
    axios.put('/usuarios/ativar/'+$(this).attr("data-id"), {
      withCredentials: true
    })
    .then(response => {
      //if(response.status === 202){
      //  location.reload()
      //}
      if(response.status === 204){
        window.alert('Ocorreu um erro !')
      }
    })
  }else{
    axios.put('/usuarios/desativar/'+$(this).attr("data-id"), {
      withCredentials: true
    })
    .then(response => {
      //if(response.status === 202){
      //  location.reload()
      //}
      if(response.status === 204){
        window.alert('Ocorreu um erro !')
      }
    })
  }
})
</script>
<% include elements/footer %>